@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}
body, html{
    height: 100vh;
    width: 100vw;
    background: url('../imagens/fundo-madeira.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}
main{
    position: relative;
    height: 100vh;
    
}
#telefone{
    position: absolute;
    background: url('../imagens/frame-iphone.png') no-repeat;
    background-size: contain;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 560px;
    

    height: 627px;
    width: 311px;
}
iframe#app{
    position: relative;
    right: 107px;
    top: 71px;

    width: 490px;
    height: 428px;
}
