@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}
body{
    height: 100vh;
    width: 100vw;
    background: url('../imagens/fundo-madeira.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}
main{
    position: relative;
    height: 100vh;
}
#telefone{
    position: absolute;
    background: url('../imagens/frame-iphone.png') no-repeat;
    background-size: contain;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 570px;

    height: 627px;
    width: 311px;
}
